.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.about-img {
  width: 700px;
  text-align: center;
  max-width: 100%;
}

@media (max-width: 768px) {
  .about-img {
    width: 500px;
  }
}