* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 800px;
  padding: 20px 25px;
  box-shadow: 0 5px 10px rgb(0 , 0 , 0 , 0.2);
  border-radius: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.result {
  border: 1px solid gray;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  padding: 0 15px;
}

form {
  margin-top: 30px;
}

form .letters,
form .numbers-special {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

form input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

form .range {
  margin-bottom: 30px;
}

form input[type="range"] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

form label ,
form p {
  font-size: 20px;
}

form button {
  display: block;
  margin: 15px auto;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: green;
  transition: 0.3s all ease;
}

form button:hover {
  background-color: rgb(1, 175, 1);
}

.pass-title {
  font-size: 20px;
  margin-bottom: 5px;
}